@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    /* font-family: Verdana, Geneva, sans-serif; */
    font-family: 'Rubik Dirt', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}