/* All elements */
* {

}

/* Tag Name */
body {
    background: #eee;
}

/* Class */
.card {
    padding: 10px;
    background: white;
    /* margin-bottom: 10px; */
}

.card p {
    font-size: 14px;
}

/* ID */
#header {
    background: ddd;
    padding: 10px;
}

.html {
    background: orange;
    color: white;
}

.css {
    background: blue;
    color: white;
}

#header,
.card {
    margin-bottom: 10px;
}